@tailwind base;
@tailwind components;
@tailwind utilities;

/* Regular */
@font-face {
    font-family: 'GE Dinar One';
    src: url('/fonts/alfont_com_GE-Dinar-One-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

/* Medium */
@font-face {
    font-family: 'GE Dinar One';
    src: url('/fonts/ArbFONTS-GE-Dinar-One-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}

/* Bold */
@font-face {
    font-family: 'GE Dinar One';
    src: url('/fonts/alfont_com_GE-Dinar-One-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: capitalize;
}

body {
    background-color: #09090B;
}

html[lang="en"] {
    font-family: 'League Spartan';
}

html[lang="ar"] {
    font-family: 'GE Dinar One';
}


html {
    scroll-behavior: smooth;
}

section {
    margin-bottom: 144px;
}

.startSection {
    height: calc(100vh - 112px);
}

@media (max-width: 768px) {
    section {
        margin-bottom: 80px;
    }
}

@media (max-width: 1024px) {
    .startSection {
        height: calc(100vh - 72px);
    }
}